name: Build and deploy Angular app to Azure Web App - homa-frontend

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: homa-frontend/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: homa-frontend

      - name: Build project
        run: npm run build
        working-directory: homa-frontend

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: homa-frontend/dist/homa-frontend

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'HOMA-FRONTEND-APP-NAME' # REPLACE WITH YOUR FRONTEND APP NAME
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_FRONTEND }} # REPLACE WITH YOUR FRONTEND SECRET NAME
          package: .
